<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Autotests" parallel="methods" thread-count="1">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="auth">
        <groups>
            <run>
                <include name="auth"/>
            </run>
        </groups>

        <packages>
            <package name="com.company.tests.auth"/>
        </packages>
    </test>

    <test name="bank_manager">
        <groups>
            <run>
                <include name="bank_manager"/>
            </run>
        </groups>

        <packages>
            <package name="com.company.tests.banking.bank_manager"/>
        </packages>
    </test>

    <test name="sample_form">
        <groups>
            <run>
                <include name="sample_form"/>
            </run>
        </groups>

        <packages>
            <package name="com.company.tests.banking.sample_form"/>
        </packages>
    </test>

    <test name="homepage">
        <groups>
            <run>
                <include name="homepage"/>
            </run>
        </groups>

        <packages>
            <package name="com.company.tests.homepage"/>
        </packages>
    </test>

</suite>
