<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Autotests" parallel="tests" thread-count="6">

    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="auth">
        <parameter name="browser" value="chrome"/>

        <packages>
            <package name="com.company.tests.auth"/>
        </packages>
    </test>

    <test name="bank_manager">
        <parameter name="browser" value="InternetExplorer"/>

        <packages>
            <package name="com.company.tests.banking.bank_manager"/>
        </packages>
    </test>

    <test name="sample_form">
        <parameter name="browser" value="MicrosoftEdge"/>

        <packages>
            <package name="com.company.tests.banking.sample_form"/>
        </packages>
    </test>

    <test name="homepage">
        <parameter name="browser" value="chrome"/>

        <packages>
            <package name="com.company.tests.homepage"/>
        </packages>
    </test>

    <test name="cookies">
        <parameter name="browser" value="firefox"/>

        <packages>
            <package name="com.company.tests.cookie"/>
        </packages>
    </test>

    <test name="jsexecutor">
        <parameter name="browser" value="MicrosoftEdge"/>

        <packages>
            <package name="com.company.tests.jsexecutor"/>
        </packages>
    </test>

</suite>
